<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.2.1.750" targetFramework="net452" />
  <package id="NLExtensions" version="1.1.2" targetFramework="net452" />
  <package id="NLWPFExtensions" version="1.1.10" targetFramework="net452" />
</packages>